<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run" parallel="methods" thread-count="3">
<test name="Simple Test">
    <classes>

        <class name="TestCases.duplicateCountries"/>

                <class name ="TestCases.TwoToFiveMillionContactFormEuropeanMarketFinancialServiceSegmentAcquiringBanks"/>
        <class name="TestCases.FiftyMillionVendingPrivateSectorEuropeanContactFormMoreThanFiveEuropeanCountries"/>
        <class name ="TestCases.TwoToFiveMillionContactFormRetailDirectMarketingFieldSales"/>
        <class name="TestCases.duplicateCountries"/>
        <class name="TestCases.ContactFormSegmentAcquiringBanks"/>
        <class name="TestCases.ContactFormSegmentPaymentServiceProviders"/>
        <class name="TestCases.TwoMillionContactFormSegmentAggregators" />
        <class name="TestCases.TwoMillionContactFormSegmentIndependentSalesOrganizations"/>
    </classes>
</test>
</suite>