<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
    <test name="Simple Test">
        <classes>
            <class name="TestCases.COPYContactFormSegmentPaymentServiceProviders"/>
            <class name="TestCases.duplicateCountries" />
            <class name="TestCases.ContactFormSegmentAcquiringBanks" />
            <class name="TestCases.TwoMillionContactFormSegmentAggregators" />

        </classes>
    </test>
</suite>